@import '../../settings.scss';

.container {
  background-color: $main_black;
  height: 50px;
  h1,
  p {
    color: #fff;

    font-size: 25px;
    font-weight: 700;
    line-height: 2;
    text-align: center;
  }
}
