@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Tomorrow:wght@400;700&display=swap');

body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}
//
// Vendor
//

//
// swiper
//

//New Posts部分のSwiper関連
.swiper_newposts {
  padding: 0 35px;
  position: relative;

  .next_button,
  .prev_button {
    background-image: url(../../public/image/arrow_left.svg);
    background-size: cover;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 25px;
    z-index: 10;
  }
  .next_button {
    right: 5px;
    transform: translate(0, -50%) scale(-1, 1);
  }
  .prev_button {
    left: 5px;
  }
  //Paginationの色変更
  .swiper-pagination-bullet-active {
    background-color: $main_black;
  }
}

@media screen and (min-width: $md) {
  .swiper_newposts {
    padding: 0 35px;
    position: relative;

    .next_button,
    .prev_button {
      height: 40px;
      width: 40px;
    }
    .next_button {
      right: calc(33% - 20px);
    }
    .prev_button {
      left: calc(33% - 20px);
    }
  }
}

//
// react-burger-menu
//
/* Position and sizing of burger button */
.bm-burger-button {
  background-size: cover;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  position: fixed;
  right: 20px;
  transition: opacity 0.3s;
  width: 40px;
  &:hover {
    opacity: 0.8;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $main_black;
  transition: opacity 0.3s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  height: 100%;
  position: fixed;
}

/* General sidebar styles */
.bm-menu {
  background: $main_black;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
